@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11.8%;
    --card-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.6% 11.2%;
    --secondary: 0 0% 15.3%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 39.6%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 217.2 91.2% 59.8%;
    --accent-foreground: 0 0% 7.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15.3%;
    --input: 0 0% 15.3%;
    --ring: 212.7 100% 50%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
